{{#if resume.skills}}
    <section class="skills-section section">
        <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
        <div class="skillset">
            {{#resume.skills}}
                <div class="item">
                    <h3 class="level-title">{{name}}</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="{{skillLevel level}}">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
            {{/resume.skills}}

        </div>
    </section><!--//skills-section-->
{{/if}}