{{#if resume.basics.summary}}
    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-user"></i>Personal Summary</h2>
        <div class="summary">
            <p>{{#markdown}}{{resume.basics.summary}}{{/markdown}}</p>
        </div><!--//summary-->
    </section><!--//section-->
{{/if}}