language: node_js
node_js: '10'

before_install:
- npm install -g npm@7.x.x

install:
- npm ci
- npm install -g resume-cli@1.2.8
- npm install --no-save @percy/script

cache:
  directories:
    - "$HOME/.npm"

script:
- npm run build:styles
- resume serve --resume=example-resume.json --port 5001 --silent &
- sleep 2s
- npx percy exec -- node tests/percy.js

deploy:
  provider: npm
  email: npm@xuluwarrior.org
  api_key:
    secure: kc2PXqfwK4W+Wfity/EhQnWi5v8PwsiUP2WfVxAgNRGDAT8JD+9D7nvgbpWuJiM6img/WQvRrO56o60de16nnnmuqf4NmM86vMmCz0Z5Tii07N1JtJnI1odcxj9+y8ABggdJM7vUA1LTdfl3SBpx+QUyA3mq3o61PTRYsCcsFP/bML99Qfkmok8Vt1oXiUz4z2imbT0QWbSGdqQpP5iRiXS1ks2Gb3kKjkFlVmuuIauCBNWLnB6FVRcZbLcVkmwgaUfy07bCajztp+umnzSe2L75MZWhJ0UE/Zv539BDwt++oQY3FwMhg5D7DRvKVFjP+Q4XmeOKTg8rOJITFHil3A72G6CDvfIb1m0oAYbTDq8h++STq4wEOyg5O9csYnK74ZYHXJ9PG0a5M2VcK5VwNvNmgtL6SWmfQBHN+tYMxn4h8m4vB+cbMWrKPEpS0kUaMBJaZtVkUX85LUzx7x7Pu7Zh+Un0ceDN1nHtIHkUO2AkPHmZSss8bcEFqZRsudAWubXBSUtjI3xgelGaWKmRNEvpgJYnFHJlXEOSFZV3ZDhKwceGDs3WxfY+e2DLTd045ZBsd1eETTjoho+3XioSYn70miEglmJQZ4n1IfeqhQKh1ke6TW5NBDyFME9GugBy9MmuCYQrE8v8im+7cpdtfux68M6Z+InNllmpDFwWaEM=
  on:
    tags: true
    repo: XuluWarrior/jsonresume-theme-orbit

env:
  secure: vYKY/PUSNRvJpfvJDHcOBPdIJZzcS2hB0eXeJgRK4o9f7C8AP2WWrmh3GBX0BBnTH68WjyW2a9oo3dnV8C2umqWHFrTkV5UXU07v53P68kaUSdaXBKg/AWxOjfmI+LCQFpzAh2Q4PQIuPzAyQ6YLwE1F+L+vTf1Q3Z7pJyMFSWhdxwitMm7Xq281PlO3x1MP16UsWNJlZPfnXOKIwgh2qxxVohuYwQ/cvJrjhrV3YWx00mJaz/rgmwQz0wDnpCUofotCeAF1ZJnZquQnrE0PDIUgYUCIBumHlcvgZWxQVjfzpPbJghEkUxVKt1y+nmTEi3mxa9Homt6heViGZ9XrVlYs1+jX86pBrqoI8rAyOmndmqHPqkIqtGwjb8ZqsPwPZrNr6OCLmZgsyyW4J+FKrbumWQKEXAMMJ/fc1q1NO8D6UD90VEfUxiNM8zHFnlzz1pFMRKW3eFviXpoi8DpmK7bpaJUW2pjkvXbEIb+ncUnBCrsRt6hXsc2umMkhENFtPKsoK7y1PpLClaPj7eyDkEXL7ZxZ/ZuHg8eIo9FJb1elvHsQJQrQRm0bKeVPt7xCmFEJm6EEQhJ/hJ44HtUu0HRCfUkF5WwJ8vT00rKdeHTJHvLL/Z/QITguAvVT5Bh1TW0KWdwcg1SRfUwf5RqmGFcnUFC3SXBlBmu6C9iWuHc=
